* {font-family: 'Open Sans', sans-serif;}
/* diseño responsive */
@media screen and (max-width:415px) {

    header{
        flex-direction: column;
        font-size: 0.5rem;

        & h1{
        
            text-align: center;
            font-size: 1.2rem;
        }
        .header-child{
            width: 100%;
        }
        nav{
            background-color: #636363;   
        }
    }
    body{
        font-size: 1rem;
    
    }
    #profile{
        margin-left: 2rem;
    }
    .card {
        width: 95% !important; 
        height: 45rem !important;
        & img {
            width: 100% !important;
            height: auto !important;
        }
        #carta {
            & picture {
                width: 10rem !important; /* Cambia el ancho de la imagen circular */
                height: 10rem !important;
            }
            .datos{
                .icon {
                    width: 4rem !important; /* Ajusta el ancho de los iconos en pantallas pequeñas */
                    height: 4rem !important;
                }
            }
        }
    }
    .exp {
        width: 100% !important;
        margin: 1rem !important;
      }
    
      .exp article {
        margin-left: 0 !important;
      }
    
      .exp article:nth-child(2n) {
        margin-left: 0 !important;
      }
}
@media (max-width:1280px) {
    #trident{
        display: none !important;
    }
}
/* -------------------------------------------------------------------------------------- */
/* estlizando html  */
html{
    font-size: 62.5%;
    
}
header {
    display: block;
    text-align: center;
    top:0;
    font-size: 1.6rem;

}
/* ------------------------------------------------------------------------------------------ */
/* estilos para el nav */
nav{

    background: rgba(109, 180, 253, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);

    & a{

        background: transparent;
        padding: 0.9rem;
        border-radius: 50%;
        display: flex;
        color:var(--color-light);
        font-size: 1.1rem;
        text-decoration: none;

        &:hover{
            background-color: rgba(109, 180, 253, 0.4); 
        }
    }
    
}
/* ------------------------------------------------------------------------------------------ */

/* estilos para el body */
body{
    margin: 0;
    font-size: 1.6rem;

    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;

    #trident{
        display: flex;
        position: fixed;
        transform: translate(76%, 10%);
        z-index: -1;
        opacity: 30%;
    }
    
    /* Estilos adicionales para elementos específicos en modo oscuro */
    &.dark-mode {
        background-color: #333;
        color: #fff;
    
        & h1{
            color: #6db4ff;
        }
        
        & a {
            color: #6db4ff;
        }
    
    } 
    
    /* estilizando sections */
    & section h1 {
        margin: 0;
        width: 100%;
        text-align: center;
        text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black; 
      }
    /* estilizando hr */
    > hr{
        width: 200px;

        > hr:nth-child(1){
            display: flex;
            margin-top: 5rem;
            width: 200px;
        }
    }
    /* ------------------------------------------------------------------------------------------ */
    /* estilizado del perfil */
    & #profile{
        width: 100%;
        display: grid;
        justify-content: center;
        box-sizing: border-box;
        margin-bottom: 8rem;

        .card{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            overflow: hidden;
            width: 50rem;
            height: 57rem;
            background-color: #000000;
            border-radius: 7%;
            box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);

            > img{
                width: 55rem;
                height: auto;
            }
            #carta{
                flex-basis: 100%;
                text-align: center;
                margin-top: -7rem;
                
                
                & picture{

                    display: inline-block;
                    width: 15rem;
                    height: 15rem;
                    border: 0.7rem solid #636363;
                    border-radius: 100%;
                    overflow: hidden;
                    transition: transform 0.3s ease;

                    & a{

                        > img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                        
                    &:hover{                                
                        transform: scale(1.1); 
                    }
                    
                }
                & h2{
                    margin-top: 0%;
                }
            }
        }
    }
    /* ------------------------------------------------------------------------------------------ */
    /* contact icons */
    .datos {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        
        justify-content: space-evenly;

        .icon{
            width: 2.5rem;
            height: 2.5rem;
            vertical-align: middle;
        }

        & p{
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-child {
                width: 100%;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            }
        }
        & a{
           
            width: 33%;
            
            &:hover{

                transform: scale(1.5);                                
                
            }
        }
        
    }
    /* ------------------------------------------------------------------------------------------ */

    /* estilizando sections sobre mi */
    #about {
        display: inline;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        margin-bottom: 5rem ;
        padding-top: -5rem;
        width: 50rem;

        & h2{
            flex-basis: 100%;
        }
        .container{

            max-width: 50rem; 
            margin: 0 auto;
            justify-content: center;
            background-color: transparent;
            border-radius: 2rem;
            padding: 2.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
            

            &:hover{
                border-radius: 2rem;
                background-color: #000000;
                box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
            }
        }
        
        
    }
    /* ------------------------------------------------------------------------------------------ */

    #experience {
        display: flex;
        flex-wrap: wrap;
        padding-left: 2rem;

        & h2 {
            grid-column: 1 / span 2;
            text-align: center;
        }

        .exp {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Divide el espacio en dos columnas de igual ancho */
            gap: 10px;
            width: 46%;
            padding: 1rem;
            background-color: transparent;
            margin: 1rem;
            border-radius: 2rem;

            & article {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center; /* Centra verticalmente los elementos en el article */
                margin-bottom: 2rem;
                max-width: max-content;

                &:nth-child(2n){
                    margin-left: 15rem;
                }

                & img {
                    padding-right: 1rem;
                    width: 2rem;
                    height: 2rem;
                }
                & h4 {
                    margin-bottom: 0;
                }
                

            }
            &:hover{
                border-radius: 2rem;
                background-color: #000000;
                box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.5);
            }

        }

    }
      /* ------------------------------------------------------------------------------------------ */

      

    #contact{
        display: block;
        

        & h1{
            flex-basis: 100%;
        }
        #social{
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            
            justify-content:space-around;
            width: 20rem;
            

            .icon{

                width: 2.5rem;
                height: 2.5rem;
                vertical-align: middle;
                margin: 1rem;

                &:hover{
    
                    transform: scale(2);                               
                    
                }
            }

        
        }
    
    }
    /* ------------------------------------------------------------------------------------------ */

    .footer{
        display: block;

        color: white;
        background-color: #6db4ff;
        text-align: center;
        margin-bottom: 7rem;
        margin: 0;
        width: 100%;
        height: 40rem;
        
        #desc{
            margin-bottom: 4rem;
            box-sizing: border-box;
            & h2{
                font-size: 3rem;
                padding-top: 3rem;
                padding-bottom: 0rem;
                margin-bottom: 0;
            }
            & small{
                padding-top: 0rem;
            }
        }

        #cv{

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;

            & a{
                text-decoration: none;
                color: white;
                border: 1px solid white;
                    border-radius: 10%;
                    width: 11rem;
                    height: auto;
                    margin-top: -2rem;
                    margin-bottom: 4rem;
                &:hover{
                    color: #6db4ff;
                    background-color: white;
                    border: 1px solid white;
                }
            }
            
        }
        #copyright{
            margin-top: 3rem;
        }
        
    }

}